<div id="game-screen" class="container">
  <div id="welcome"></div>
  <div id="user-display" class="row"></div>
  <div id="game-board" class="container"></div>
  <div id="clue-display" class="container col-md-12">
    <div id="question" class="col-md-6"> </div>
    <div id="rhs" class="col-md-6">
      <div id="input" class="col-md-12"> </div>
      <div id="daily-double" class="container col-md-12"></div>
      <div class="well col-md-2" id="timer-div"><span id="timer"></span></div>
    </div>
  </div>
  <div id="quit">
    <form autocomplete="off" action="/endgame" method="POST" data-remote="true" >
      <input type="submit" value="quit">
    </form>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
